* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #e1edf3;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin-right: 0;
    margin-bottom: 20px;
}

#profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}

.circle-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 90%;
    border: 4px solid transparent;
    border-top: 4px solid #3461de;
    border-right: 4px solid #6315d7;
    animation: rotate 7s linear infinite;
}

@media screen and (max-width: 600px) {
    .profile-picture-container {
        width: 100px;
        height: 100px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

h1 {
    font-size: 2.5rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

ul li {
    padding: 5px 0;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    background: linear-gradient(45deg, #481399, #6315d7, #1e3a8a, #13265b);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #8994a1;
}

button::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transform: rotate(-30deg);
    animation: shine 2s infinite;
    pointer-events: none;
}

@keyframes shine {
    0% {
        left: -200%;
        top: -200%;
    }

    100% {
        left: 200%;
        top: 200%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    .profile-container {
        width: 120px;
        height: 120px;
    }

    h1 {
        font-size: 2rem;
    }

    main {
        padding: 15px;
    }
}

.timeline {
    position: relative;
    margin: 20px 0;
    padding: 0;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #000000;
    top: 0;
    bottom: 0;
    left: 15px;
    margin-left: -2px;
}

.timeline-item {
    margin-bottom: 20px;
    position: relative;
}

.timeline-item::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
    top: 0;
    left: 8px;
}

.timeline-content {
    margin-left: 40px;
    padding: 1px 15px;
}

h4 {
    margin: 0;
}

.unstyled-link {
    color: inherit;
    text-decoration: none;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);

    z-index: 1;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border: 4px solid transparent;
    border-image: linear-gradient(45deg, #481399, #6315d7, #1e49bf, #1b3b93);
    border-image-slice: 1;
    box-sizing: border-box;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.project-card {
    width: 30%;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
    transform-origin: center;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#resume-container {
    margin-top: 50px;
}

.red-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}